<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>MobileDev</title>
<link href="../../css/main.css" rel="stylesheet" type="text/css">
<link href="../../css/custom.css" rel="stylesheet" type="text/css">
<body>
  <!-- logo bar -->
  <div id="gcb-header" role="banner">
    <div class="gcb-aux">
      <p class="gcb-course-image">
        <a href="http://www.rose-hulman.edu/"> <img src="../../images/roselogosmall.png" alt="Rose logo"></a>
      </p>
      <p class="gcb-title-header">
        <a href="http://www.rose-hulman.edu/class/csse/mobile/html/index.html">Mobile Development</a>
      </p>
    </div>
  </div>
  <!-- nav bar -->
  <div class="gcb-nav gcb-complex" id="gcb-nav-x">
    <div class="gcb-aux">
      <ul style="left: 0px; top: 0px">
        <!-- TODO: Make correct platform active -->
        <li class="active"><a href="http://www.rose-hulman.edu/class/csse/mobile/html/AndroidMaterial.html">Android</a></li>
        <li><a href="http://www.rose-hulman.edu/class/csse/mobile/html/iOSMaterial.html">iOS</a></li>
        <li><a href="http://www.rose-hulman.edu/class/csse/mobile/html/WebMaterial.html">Web</a></li>
        <li><a href="http://www.rose-hulman.edu/class/csse/mobile/html/BackendMaterial.html">Backend</a></li>
      </ul>
    </div>
  </div>
  <!-- top section -->
  <div class="is-wrapper">
    <div class="gcb-aux">
      <!-- main section -->
      <div id="gcb-main">
        <ul class="gcb-breadcrumb"></ul>
        <div>
          <!-- TODO: Unit title -->
          <h1 class="gcb-unit-header">Fragments</h1>
        </div>
		        <div class="gcb-nav" id="gcb-nav-y" role="navigation">
          <ul>
            <li class="active">
              <div class="gcb-lesson-title-with-progress">
                <a href="lesson1.html">Fragments Overview</a>
              </div>
              <ul>
                <li>
                  <div class="gcb-activity-title-with-progress">
                    <a href="activity1.html">Activity</a>
                  </div>
               </li>
             </ul>
           </li>
            <li>
              <div class="gcb-lesson-title-with-progress">
                <a href="lesson2.html">Lab: Fragments</a>
              </div>
              <ul>
             </ul>
           </li>
           <!-- end of navbar elements -->
        </ul>
      </div>

        <div class="gcb-article tab-content" role="main">
          <!-- unit.after_content_begins -->
          <div style="padding-bottom: 20px;">
            <div class="gcb-aside gcb-button-box">
              <div class="gcb-cols">
                <div class="gcb-col-7">
                  <!-- TODO: Lesson title -->
                  <h1 class="gcb-lesson-title">Fragments Overview</h1>
                </div>
                <div class="gcb-col-3">
                  <p style="float: right; margin-top: 0px;">
                    <!-- TODO: Slide link -->
                    <a role="button" class="gcb-button" id="lessonNotesLink" href="https://docs.google.com/presentation/d/1WoikNuEMzF7WWH07u8Ef-zCXcKp-_XRbEc7Gd668M9s" target="_blank"> Slides </a>
                  </p>
                </div>
              </div>
              <!-- /gcb-cols -->
              <div class="gcb-lesson-content">
                  <!-- TODO: Customize lesson summary -->
                  <ul>
<li>This unit consists of a short overview of fragments and a detailed lab. This lesson is an extended introduction to the concepts you'll learn about in the lab. </li>
</ul>

                <!--<ul>
                  <li>Content above video</li>
                </ul>-->
              </div>
              <p class="gcb-video-container">
                <!-- TODO: Fix link to video -->
                <!-- FIXME: Add correct link/embed video player for Camtasia -->
                <iframe class="tscplayer_inline" name="tsc_player" src="../../videos/Fragments/FragmentsOverview/FragmentsOverview_player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<!--                <iframe class="tscplayer_inline" name="tsc_player" src="../../videos/MobileTestVideo/MobileTestVideo_player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
              </p>
              <div class="gcb-lesson-content">
                  <!-- TODO: Customize supplementary material (e.g., code to copy/paste) -->
				
                <!--<ul>
                  <li>Content below video</li>
                </ul>-->
              </div>
            </div>
            <!-- /gcb-aside -->
            <div class="gcb-button-box">
                <div class="gcb-prev-button">
                  <!-- TODO: Fix link to prev page -->
				
<!--                   <a href="activity1.html"> Previous Page </a>  -->
                </div>
              <div class="gcb-next-button">
                <!-- TODO: Fix link to next page -->
				<a href="activity1.html"> Next Task </a>
<!--                <a href="activity1.html"> Next Page </a> -->
              </div>
            </div>
          </div>
          <!-- unit.before_content_ends -->
        </div>
      </div>
      <!-- base.after_main_content_ends -->
    </div>
  </div>
  <!-- footer section -->
  <div style="margin-top: 50px;" id="gcb-signature"></div>
  <div class="gcb-footer" id="gcb-footer">
    <div id="gcb-footer-local">
      <div class="gcb-aux"></div>
    </div>
    <div id="gcb-footer-global" role="contentinfo">
      <div class="gcb-aux">
        <ul>
          <li><a href="http://www.rose-hulman.edu/">Rose-Hulman</a></li>
          <!--  FIXME: Ask Michelle about this and change if needed --> 
          <li><a href="http://www.rose-hulman.edu/TSC/policies"> Privacy &amp; Terms </a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- base.before_body_tag_ends -->
</body>
</html>
